/* 21761094이인종 */

section#main {width: 990px;
              margin: auto;}

section#cat1 {width: 215px;
             float: left;
             margin-top: 15px;
             font-weight: bold;}

section#cat1 #cat_title {padding: 12px;
                         background-color: black;
                         color: #ffffff;
                         text-align: center;}

section#cat1 li {color: #666666;
                 padding: 7px 0 7px 7px;
                 border-bottom: solid 1px black;}

section#cat2 {float: left;
              margin-top: 15px;
              margin-bottom: 30px;
              border-bottom: solid 0.5px white;}


section#new {height: 650px;
             margin-top: 20px;
             border-top: solid 2px black;}

section#new h3 {margin: 20px 0 20px 35px;
                text-align: center;}

section#new h3 span {color: white;
                     font-size: 20px;}

section#new .item {float: left;
                   text-align: center;
                   margin: 20px 0 40px 32px;}

section#new .item .subject {margin-top: 5px;
                            color: gray;
                            font-size: 10px;}

section#new .item .comment {margin-top: 5px;
                            color: #888888;
                            font-size: 10px;}

section#new .item .price {margin-top: 5px;
                          font-weight: bold;}


section .container {position: relative;
                    width: 100%;}

section .image {display: block;
                width: 100%;
                height: auto;
                border-radius: 50%}

section .overlay {position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 100%;
                  width: 100%;
                  opacity: 0%;
                  transition: .5s ease;
                  background-color: black;
                  border-radius: 50%}

section .container:hover .overlay {opacity: 70%;}

section .text {color: white;
               font-size: 20px;
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               text-align: center;}

footer {height: 200px;
        margin-top: 20px;
        background-color: black;}

footer #footer_menu_box {height: 40px;
                         background-color: #4e4c4d;}

footer #footer_menu {width: 990px;
                     margin: 0 auto;
                     padding-top: 13px;}

footer #footer_menu ul {}

footer #footer_menu li {display: inline;margin: 0 80px 0 80px ;}

footer #footer_menu a {padding: 0 10px 0 10px;}

footer #footer_menu a:link {color: #ffffff;}

footer #footer_menu a:hover {color: #ffffff;}

footer #footer_menu a:visited {color: #ffffff;}

footer #footer_menu a:active {color: #ffffff;}

footer #footer_box {width: 990px;
                    margin: 10px auto;}

footer #footer_box div {float: left;}

footer #footer_box #footer_logo {margin: 50px 0 0 30px;}

footer #footer_box #address {margin: 45px 0 0 10px;}

footer #footer_box #footer_banner {margin: 50px 0 0 70px;
float: right;}
